<div class="container-fluid text-center" >
  <div class="row text-center" >
    <div class="col col-12" >
      <div class="row d-flex justify-content-between" >
        <!-- <div class="col col-2"><a routerLink="/quien-soy" class="btn btn-outline-danger text-black-50">¿Quien soy?</a></div> -->
        <div class="col col-2"><a routerLink="/vision" class="btn btn-outline-purple text-black-50">Visión</a></div>
        <div class="col col-2"><a routerLink="/mision" class="btn btn-outline-elegant text-black-50">Misión</a></div>
        <div class="col col-2"><a routerLink="/filosofia" class="btn btn-outline-amber text-black-50">Filosofía</a></div>
        <div class="col col-2"><a routerLink="/foda" class="btn btn-outline-cyan text-black-50">FODA</a></div>
        <div class="col col-2"><a routerLink="/metas" class="btn btn-outline-mdb-color text-black-50">Metas</a></div>
        <div class="col col-2"><a routerLink="/preguntas" class="btn btn-outline-light-blue text-black-50">Conclusiones</a></div>
      </div>
    </div>
  </div>
</div>