<div class="container-fluid h-100" style="background-color: #2E2E2E;">
  <h1>¿Cómo lo consigo?</h1>
  <div class="row ">
    <div class="col col-12">

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="false">
            <div class="row">
              <div class="col col-12">
                <p>Nuestro país esta creciendo de forma sostenible en los últimos años</p>
                <blockquote>
                  <p class="lead">Para este 2018, el FMI sostiene que la actividad económica continuará recuperándose
                    gracias al impulso fiscal y monetario, mientras que para el 2019, el crecimiento estaría impulsado
                    por la recuperación de la demanda interna en un contexto de consolidación fiscal y el crecimiento
                    económico también llegaría a 4,1%. >> FMI Octubre 2018</p>
                </blockquote>
                <p>Por ende, el acceso a la tecnología de punta aumentará y eso significa mejores oportunidades</p>

              </div>
            </div>
          </div>
          <div class="carousel-item" data-interval="false">
            <div class="row">
              <div class="col col-12 d-flex justify-content-center">
                <div class="m-auto">
                  <img src="../../assets/images/Crecimiento_Peru.JPG">
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col col-12">
                <div class="d-flex justify-content-center">
                  <img src="../../assets/images/penetracion_internet.JPG">
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-interval="false">
            <div class="row">
              <div class="col col-12">
                <p>El desarrollo de aplicaciones para la resolución de problemas cotidianos puede ser un gran método de creación de oportunidades</p>
                <p>Segun Cornejo, hacen falta:</p>
                <p>5% de talento</p>
                <p>5% de suerte</p>
                <p>95% de estrategia</p>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-interval="false">
            <div class="row">
              <div class="col col-12">
                <p>Y las estrategias que usaré:</p>
                <p><strong>Asertividad</strong>, convertir los obstáculos en retos</p>
                <p><strong>Amigos</strong>, contactos (la comunida de Codigo por ejemplo)</p>
                <p><strong>Seguir a una estrella</strong>, algún ejemplo de vida.</p>
                <p><strong>Resolver problemas</strong> a donde vaya (¿Qué empresa no quiere a alguien que solucione problemas?)</p>
                <p><strong>Audacia</strong>, a la hora de aprovechar oportunidades</p>
                <p><strong>Pareja</strong>, que tengo el privilegio de tener ahora a lado. Alguien que empuja y no jala</p>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </div>
</div>