<div class="container-fluid h-100" style="background-color: #00BCD4;">
  <div class="row h-50">
    <div class="col col-6 bg-primary">
      <!-- <a routerLink="/fortalezas" class="m-auto" > -->
      <a class="m-auto" data-toggle="modal" data-target="#fortalezas">
        <div class="d-flex justify-content-center foda-item">
          <h1>FORTALEZAS</h1>
        </div>
      </a>
    </div>
    <div class="col col-6 bg-secondary">
      <a class="m-auto" data-toggle="modal" data-target="#oportunidades">
        <div class="d-flex justify-content-center foda-item">
          <h1>OPORTUNIDADES</h1>
        </div>
      </a>
    </div>
  </div>
  <div class="row h-50">
    <div class="col col-6 bg-dark">
      <a class="m-auto" data-toggle="modal" data-target="#debilidades">
        <div class="d-flex justify-content-center foda-item">
          <h1>DEBILIDADES</h1>
        </div>
      </a>
    </div>
    <div class="col col-6 bg-success">
      <a class="m-auto" data-toggle="modal" data-target="#amenazas">
        <div class="d-flex justify-content-center foda-item">
          <h1>AMENAZAS</h1>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- fortalezas -->
<div class="modal fade" id="fortalezas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">FORTALEZAS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-primary">
        <p><strong>¡¡Soy una hormiga!!</strong></p>
        <p>Me siento bien con un trabajo bien hecho.</p>
        <p><strong>Soy apasionado</strong></p>
        <p>Siempre repito entre los mios:</p>
        <p>NO HAY NADA QUE NO PUEDA HACER SI ME LO PROPONGO.</p>
        <p><strong>Aprendo rápido</strong></p>
        <p>Mi fuerte, dame un grano de arroz y produciré una fábrica</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- OPORTUNIDADES -->
<div class="modal fade" id="oportunidades" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">OPORTUNIDADES</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-secondary">
        <p><i>Las oportunidades las aprovechan las mentes preparadas -Luis Pasteur</i></p>
        <p><strong>Aprender para servir</strong></p>
        <p>Trabajar en un entorno de desarrollo de aplicaciones web y/o moviles me permite crear productos de servicio social.</p>
        <p><strong>Apoyo economico para mi familia</strong></p>
        <p>Actualmente muchos integrantes de mi familia dependen de mi.</p>
        <p><strong>Marca personal</strong></p>
        <p>Crear la marca: itrebolsoft</p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- DEBILIDADES -->
<div class="modal fade" id="debilidades" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DEBILIDADES</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-dark">
        <p><strong>Me lo pienso mucho antes de delegar</strong></p>
        <p>Tiendo a creer erróneamente a veces que solo yo puedo hacer bien algo.</p>
        <p><strong>Mi seriedad</strong></p>
        <p>No soy muy sonriente cuando trabajo, y eso se debe a que estoy enfocado. Soy más efectivo siendo serio.</p>
        <p><strong>Mi impuntualidad</strong></p>
        <p>ME enfoco tanto en mis proyectos que a veces me quedo -literal- hasta que cante el gallo. Voy trabajando en esto</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- AMENAZAS -->
<div class="modal fade" id="amenazas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">AMENAZAS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-success">
        <p><strong>Alta competencia</strong></p>
        <p></p>
        <p><strong></strong></p>
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>