<div class="container-fluid h-100 bg-" style="background-color: #512DA8;">
  <h1>¿Cómo me veo?</h1>
  <div class="row ">
    <div class="col col-12">
      <p class="bg-dark">Me veo <strong>'pusheando'</strong> a mi país. Como un emprendedor e innovador tecnologíco enfocado al bienestar social.</p>
      <p class="bg-dark">Me veo enalteciendo lo nuestro. Nuestro idioma, y las de nuestros antepasados. Exaltando nuestro glorioso pasado inca y su legado.</p>
      <p class="bg-dark">Me veo feliz, porque mi madre, mi padre, mi hermana, mi amada lo son.</p>
      <p class="bg-dark">Cuando me miro veo que cuando mis días bajo el sol hayan terminado, no estaré más yo, pero sí lo que dejo.</p>
      <p class="bg-dark">Pienso que si hago todo esto, por ende el éxito vendrá por añadidura.</p>
    </div>
  </div>
</div>