<div class="container-fluid h-100" style="background-color: #82B1FF;">
    <h1>Filosofía</h1>
    <div class="row ">
      <div class="col col-12">
        <p class="bg-dark">Soy idealista</p>
        <p class="bg-dark">Defino al idealismo como a la quimera e inalcanzable pero necesaria estado utópico en el que el mal no existe, ni la pobreza, ni el sufrimiento.
          Una quimera con destino irreal, pero necesario.
        </p>
        <p class="bg-dark">Basandome en el punto anterior, defino mi 'eslogan' personal:</p>
        <p class="bg-dark"><strong>'El objetivo de la vida no es vivir para siempre, sino crear algo que sí lo haga.'</strong> dicho de otro modo, dejar un legado tras nuestro.</p>
        <p class="bg-dark">Y como tal, el idealismo es exigente y por eso lo soy conmigo mismo. Y por eso también a veces soy muy atribulado.
          Pero al final, vale la pena. Ya que el idealismo me permitió ver más allá de mis ojos. Ver que mi esencia, es imperecible e inmutable. 
          Y por ende, el fin supremo de todo ser bajo el sol, es la de servir. 
        </p>
        <p class="bg-dark"><strong>'La idea es que tras nosotros dejemos al mundo un poco mejor, y no peor. Ese es el fin supremo de una existencia.'</strong></p>
      </div>
    </div>
  </div>